.card_container {
  width: 100%;
  height: 150px;
  border: 1px solid #eee;
  border-inline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin-right: auto;
  padding: 5px;
}

.img {
  height: 140px;
  width: auto;
  /* margin: 5px; */
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
  .name {
    padding: 20px;
  }
  .card_container {
    width: 75%;
  }
}
