.cart {
  position: fixed;
  right: -350px;
  background-color: #fff;
  height: 100%;
  width: 350px;
  padding-bottom: 200px;
  transition: 500ms ease-in-out;
  box-sizing: border-box;
  padding-bottom: 0;
  overflow: hidden;
  /* overflow-y: scroll; */
  z-index: 10;
}

.cart::-webkit-scrollbar {
  width: 0;
}

.cart_on {
  right: 0;
  border-left: 1px solid #eee;
}

.empty_text {
  text-align: center;
  vertical-align: center;
  margin-top: 10rem;
  padding: 0 20px;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(146, 146, 146);
}

.btn_container {
  width: 350px;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: calc(100% - 150px);
}

.checkout_btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: calc(100% - 20px);
  border: 1px solid #eee;
  color: #eee;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: 2px solid #353535;
  background-color: #353535;
}

.checkout_btn:hover {
  background: #fff;
  color: #353535;
}

.card_container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.card_container::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
