.cart {
  position: fixed;
  right: -350px;
  background-color: #fff;
  height: 100%;
  width: 350px;
  transition: 500ms ease-in-out;
  box-sizing: border-box;
  padding-bottom: 3rem;
  overflow: hidden;
  overflow-y: scroll;
}

.cart::-webkit-scrollbar {
  width: 0;
}

.cart_on {
  right: 0;
  border-left: 1px solid #eee;
}

.empty_text {
  text-align: center;
  vertical-align: center;
  margin-top: 10rem;
  padding: 0 20px;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(146, 146, 146);
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
