.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid #eee;
  transition: 200ms;
  cursor: pointer;
}

.details {
  background-color: #353535;
  color: #fff;
}

.details:hover {
  color: #353535;
  background-color: #edf2f4;
}

.add_item {
  color: #fff;
  background-color: #e81d1d;
}
.add_item:hover {
  color: #e81d1d;
  background-color: #fff;
  border: 2px solid #e81d1d;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border: 1px solid #eee;
  padding: 20px;
}

.name {
  font-weight: 600;
  text-align: center;
}
