.container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 100px;
}

.price {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  margin-top: 3rem;
}

.slider {
  width: 300px;
}

.btn {
  font-weight: 600;
  font-size: 0.8rem;
  border-style: none;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid #eee;
  transition: 150ms;
  cursor: pointer;
}
.add_item {
  color: #fff;
  background-color: #e81d1d;
}
.add_item:hover {
  background-color: #bb1818;
}
hr {
  border-color: #eee;
}

.info {
  padding-left: 5rem;
}

.sizes {
  display: inline;
  font-weight: 400;
  padding-left: 10px;
}
.quantity {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 1rem;
}

.q_num,
.q_btn {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: baseline;
  font-size: 25px;
  border: none;
  background-color: #fff;
  margin: 0;
}

.q_num {
  font-size: 1.5rem;
}

.q_btn {
  background-color: #eee;
  transition: 200ms;
}

.q_btn:hover {
  background-color: rgb(178, 178, 178);
}

.q_btn:active {
  background-color: rgb(149, 149, 149);
}
